.M004L {
  .table-customer {
    th,
    td {
      max-width: 110px;
    }
    .col-customer_cd {
      width: 100px;
      min-width: 100px;
      max-width: 100px;
      left: 0;
    }
    .col-customer_nm {
      width: 140px;
      width: 140px;
      max-width: 140px;
      left: 100px;
    }
    .col-customer_kn_nm {
      width: 110px;
      min-width: 110px;
      max-width: 110px;
    }
    .col-customer_ab_nm {
      width: 110px;
      min-width: 110px;
      max-width: 110px;
    }
  }
}
