/****** Object:  Table [dbo].[F001]    Script Date: 2024/02/19 0:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[F001](
	[project_no] [nvarchar](8) NOT NULL,
	[src_projecct_no] [nvarchar](8) NULL,
	[rcv_order_div] [smallint] NULL,
	[company_cd] [smallint] NOT NULL,
	[receiveorder_date] [date] NULL,
	[project_status_div] [smallint] NULL,
	[item_status_div] [smallint] NULL,
	[process_status_div] [smallint] NULL,
	[material_status_div] [smallint] NULL,
	[sales_employee_cd] [nvarchar](5) NULL,
	[warning1] [smallint] NULL,
	[warning_reason1] [nvarchar](50) NULL,
	[warning2] [smallint] NULL,
	[warning_reason2] [nvarchar](50) NULL,
	[project_nm] [nvarchar](100) NULL,
	[submission_date] [date] NULL,
	[calibration_date] [date] NULL,
	[proofreading_date] [date] NULL,
	[ship_date] [date] NULL,
	[delivery_date] [date] NULL,
	[note] [nvarchar](200) NULL,
	[estimate_remarks] [nvarchar](200) NULL,
	[customer_cd] [int] NULL,
	[customer_nm] [nvarchar](50) NULL,
	[customer_zip] [nvarchar](8) NULL,
	[customer_address1] [nvarchar](50) NULL,
	[customer_address2] [nvarchar](50) NULL,
	[customer_address3] [nvarchar](100) NULL,
	[customer_tel] [nvarchar](20) NULL,
	[customer_fax] [nvarchar](20) NULL,
	[customer_department_nm] [nvarchar](30) NULL,
	[customer_manager_nm] [nvarchar](30) NULL,
	[customer_mail_address] [nvarchar](255) NULL,
	[billing_nm] [nvarchar](50) NULL,
	[billing_zip] [nvarchar](8) NULL,
	[billing_address1] [nvarchar](50) NULL,
	[billing_address2] [nvarchar](50) NULL,
	[billing_address3] [nvarchar](100) NULL,
	[billing_tel] [nvarchar](20) NULL,
	[billing_fax] [nvarchar](20) NULL,
	[delivery_div] [smallint] NULL,
	[delivery_cd] [int] NULL,
	[delivery_nm] [nvarchar](50) NULL,
	[delivery_zip] [nvarchar](8) NULL,
	[delivery_address1] [nvarchar](50) NULL,
	[delivery_address2] [nvarchar](50) NULL,
	[delivery_address3] [nvarchar](100) NULL,
	[delivery_tel] [nvarchar](20) NULL,
	[delivery_fax] [nvarchar](20) NULL,
	[delivery_department_nm] [nvarchar](30) NULL,
	[delivery_manager_nm] [nvarchar](30) NULL,
	[delivery_mail_address] [nvarchar](255) NULL,
	[shipper_div] [smallint] NULL,
	[shipper_cd] [int] NULL,
	[shipper_nm] [nvarchar](50) NULL,
	[shipper_zip] [nvarchar](8) NULL,
	[shipper_address1] [nvarchar](50) NULL,
	[shipper_address2] [nvarchar](50) NULL,
	[shipper_address3] [nvarchar](100) NULL,
	[shipper_tel] [nvarchar](20) NULL,
	[shipper_fax] [nvarchar](20) NULL,
	[shipper_department_nm] [nvarchar](30) NULL,
	[shipper_manager_nm] [nvarchar](30) NULL,
	[shipper_mail_address] [nvarchar](255) NULL,
	[sch_ship_date] [date] NULL,
	[spc_delivery_date] [date] NULL,
	[spc_delivery_time_div] [smallint] NULL,
	[delivery_company_div] [smallint] NULL,
	[estimate_attached_file_no] [int] NULL,
	[received_manuscript_attached_file_no] [int] NULL,
	[final_shipment_completed_date] [date] NULL,
	[invoice_attached_file_no] [int] NULL,
	[cre_user_cd] [nvarchar](5) NULL,
	[cre_prg] [nvarchar](30) NULL,
	[cre_ip] [nvarchar](20) NULL,
	[cre_tm] [datetime2](7) NULL,
	[upd_user_cd] [nvarchar](5) NULL,
	[upd_prg] [nvarchar](30) NULL,
	[upd_ip] [nvarchar](20) NULL,
	[upd_tm] [datetime2](7) NULL,
	[del_user_cd] [nvarchar](5) NULL,
	[del_prg] [nvarchar](30) NULL,
	[del_ip] [nvarchar](20) NULL,
	[del_tm] [datetime2](7) NULL,
	[del_flg] [int] NULL,
 CONSTRAINT [PK_t_project_h] PRIMARY KEY CLUSTERED 
(
	[project_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
