@font-face {
  font-family: 'Roboto';
  src: url('@/assets/webfonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  src: url('@/assets/webfonts/Roboto-Italic.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  src: url('@/assets/webfonts/Roboto-Thin.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: italic;
  src: url('@/assets/webfonts/Roboto-ThinItalic.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('@/assets/webfonts/Roboto-Light.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: italic;
  src: url('@/assets/webfonts/Roboto-LightItalic.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('@/assets/webfonts/Roboto-Medium.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: italic;
  src: url('@/assets/webfonts/Roboto-MediumItalic.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('@/assets/webfonts/Roboto-Bold.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: italic;
  src: url('@/assets/webfonts/Roboto-BoldItalic.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: url('@/assets/webfonts/Roboto-Black.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: italic;
  src: url('@/assets/webfonts/Roboto-BlackItalic.ttf');
}
@font-face {
  font-family: 'NotoSans';
  src: url('@/assets/webfonts/NotoSansJP-Regular.ttf');
}
@font-face {
  font-family: 'NotoSans';
  font-weight: 100;
  src: url('@/assets/webfonts/NotoSansJP-Thin.ttf');
}
@font-face {
  font-family: 'NotoSans';
  font-weight: 200;
  src: url('@/assets/webfonts/NotoSansJP-ExtraLight.ttf');
}
@font-face {
  font-family: 'NotoSans';
  font-weight: 300;
  src: url('@/assets/webfonts/NotoSansJP-Light.ttf');
}
@font-face {
  font-family: 'NotoSans';
  font-weight: 500;
  src: url('@/assets/webfonts/NotoSansJP-Medium.ttf');
}
@font-face {
  font-family: 'NotoSans';
  font-weight: 600;
  src: url('@/assets/webfonts/NotoSansJP-SemiBold.ttf');
}
@font-face {
  font-family: 'NotoSans';
  font-weight: 700;
  src: url('@/assets/webfonts/NotoSansJP-Bold.ttf');
}
@font-face {
  font-family: 'NotoSans';
  font-weight: 800;
  src: url('@/assets/webfonts/NotoSansJP-ExtraBold.ttf');
}
@font-face {
  font-family: 'NotoSans';
  font-weight: 900;
  src: url('@/assets/webfonts/NotoSansJP-Black.ttf');
}
