.m101 {
  .table-size-area {
    width: 590px;
  }
  .table-size {
    .col-size {
      width: 150px;
    }
    .col-discontinued_div {
      width: 200px;
    }
    .col-discontinued_display_div {
      width: 200px;
    }
  }
  .col-supplier {
    min-width: 300px;
  }
}
