.m202 {
  .table-size-area {
    width: 1400px;
  }
  .table-size {
    .col-item_cd {
      width: 150px;
    }
    .col-color_cd {
      width: 200px;
    }
    .col-item_nm {
      width: 400px;
    }
    .col-size_cd {
      width: 200px;
    }
    .col-supplier_cd {
      width: 100px;
    }
    .col-supplier_nm {
      width: 150px;
    }
    .col-retail_upr {
      width: 200px;
    }
  }
}
